/* Provide sufficient contrast against white background */
body {
  background-color:white;
}

.homeImage {
  float: left;
  object-fit: contain;    
}

label {
  width: 10px;
}

input, textarea {
  background-color:white;
}

a {
  color: royalblue;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

code {
  color: #E01A76;
}

.btn-admin {
  color: #fff;
  background-color: #007700;
  border-color: #1861ac;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-select {
  color: #000;
  background-color: yellow;
  border-color: #1861ac;
}

searchResults {
    text-align: right;
}

resetForm {
    text-align: right;
}

tar {
    text-align: right;
}

table-striped {
    padding: 50px 0;
    color:blue; 
}

table-striped-small {
  padding: 50px 0;
  color:blue;
}

details {
  padding: 50px 0;
}

.form-control {
  width:200px; 
  display: inline-block;
}

.form-control-small {
  width: 25px;
  display: inline-block;
}

.textarea {
  width:400px; 
  height: 100px;
  display: inline-block;
}

td.status-data {  
  padding: 0 10px 0 0;
}

td.display-links {
  vertical-align: top;
  padding: 0 20px 0 0;
  white-space: nowrap;
}
